<!DOCTYPE html>
<html>
<!--
Copyright 2024, Collabora, Ltd.

SPDX-License-Identifier: BSL-1.0
-->
{# Used by group_changelogs.py to output a more useable result view #}

<head>
  <style>
    .filename details[open] {
      border-style: solid;
      border-width: 1px;
    }

    .filename details {
      margin: 0.5em;
    }

    .droptarget {
      background-color: lightyellow;
    }
  </style>
  <script src="static/merge_changelog.js"> </script>
  <script src="static/group_changelogs_webapp.js"></script>
</head>

<body>
  <h1>Changelog Fragment Clusters</h1>
  <p>
    Each group is a word found in multiple changelog fragments.
    Expand it to see which fragments include that word.
  </p>
  {% for cluster in clusters %}
  <details id="word-{{ cluster.word }}" {% if cluster.word == anchor %}open{% endif %}>
    <summary>{{ cluster.word }} ({{cluster.number_of_filenames}})</summary>
    <ul>
      {% for filename in cluster.filenames %}<li>
        <details draggable="true" class="filename" id="{{filename}}">
          <summary class="filename_target">{{ filename }}</summary>
          <pre>
{{ files[filename] }}
</pre>
        </details>
      </li>{% endfor %}
    </ul>
  </details>
  {% endfor %}
</body>


</html>
