<!DOCTYPE html>
<html>
<!--
Copyright 2024, Collabora, Ltd.

SPDX-License-Identifier: BSL-1.0
-->
{# Used by group_changelogs.py to output a more useable result view #}
<head>
<style>

.filename details[open] {
  border-style: solid;
  border-width: 1px;
}
.filename details {
  margin: 0.5em;
}

.droptarget {
    background-color: lightyellow;
}
</style>
<script>
function submitMerge(dstFn, srcFn) {
  const post = JSON.stringify({ src: srcFn, dst: dstFn });
  // const form = document.createElement('form');
  // form.method = 'post';
  // form.action = '#';
  // const srcInput = document.createElement('input');
  // srcInput.type = 'hidden';
  // srcInput.name = 'src';
  let xhr = new XMLHttpRequest();
  xhr.open("POST", document.location, true);
  xhr.setRequestHeader("Content-type", "application/json; charset=UTF-8");
  xhr.send(post);

  xhr.onload = function () {
    if (xhr.status === 201) {
      console.log("Post successfully created! %s", post);
    }
  };
}

function dragstart(ev) {
  // Transmit the element ID when we drag - this is the filename
  ev.dataTransfer.setData("text/plain", ev.target.id);
  ev.dataTransfer.effectAllowed = "move";

  console.log("dragged %s", ev.target.id);
}

function dragover(ev) {
  ev.preventDefault();
  ev.dataTransfer.dropEffect = "move";
  const source = document.getElementById(ev.dataTransfer.getData("text/plain"));
}
function drop(ev) {
  ev.preventDefault();
  const srcFn = ev.dataTransfer.getData("text/plain");
  const source = document.getElementById(srcFn);
  const dstFn = ev.target.parentElement.id;

  console.log("Dropped %s onto %s", fn, ev.target.parentElement.id);
  submitMerge(dstFn, srcFn);

  // Clean up any lingering drop target highlighting
  Array.from(document.getElementsByClassName("droptarget")).forEach(
    (element) => {
      element.classList.remove("droptarget");
    }
  );
}
window.addEventListener("DOMContentLoaded", () => {
  Array.from(document.getElementsByClassName("filename")).forEach((element) => {
    element.addEventListener("dragstart", dragstart);
  });

  Array.from(document.getElementsByClassName("filename_target")).forEach(
    (element) => {
      element.addEventListener("dragover", dragover);
      element.addEventListener("drop", drop);
      element.addEventListener("dragenter", (ev) => {
        ev.target.classList.add("droptarget");
      });
      element.addEventListener("dragleave", (ev) => {
        if (ev.target == undefined) {
          return;
        }
        if (ev.target.classList == undefined) {
          return;
        }
        ev.target.classList.remove("droptarget");
      });
    }
  );
});





</script>
</head>
<body>
{% for cluster in clusters %}
<details>
    <summary>{{ cluster.word }}  ({{cluster.number_of_filenames}})</summary>
    <ul>
        {% for filename in cluster.filenames %}<li>
            <details draggable="true" class="filename" id="{{filename}}"><summary class="filename_target">{{ filename }}</summary>
            <pre>
{{ files[filename] }}
</pre>
            </details>
        </li>{% endfor %}
    </ul>
</details>
{% endfor %}
</body>


</html>
